@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
/* */
body {
    display: flex;
    flex-direction: row;
    background-color: var(--capri);
    color: var(--darker-blue);
    font-family: 'Londrina Shadow', sans-serif;
  }

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(164, 178, 255);
        color: black;
    }
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
    main, header {
        width: 100vw;
    }
    
}

  .lighter-text {
    color: var(--black);
    font-weight: bold;
}

header {
    width: 50 vw;
}

main {
    width: 50vw;
}

  img {
      height: 100%;
      max-width: 500px;
  }

* {
  --capri: #55B6E9ff;
  --darker-blue: rgb(9, 85, 151);
  --orchid-crayola: #E29AD7ff;
  --aero: #73B3DCff;
  --cyan-process: #58B1DFff;
  --cedar-chest: #C46351ff;
  --black: #000;
}

